@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


.div-main-nav{
  background-image: url('portada.jpeg');
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}
.nav {
  padding-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
 
}

.nav::before {
  content: '';
  opacity: .2;
  background-color:rgb(55 217 239);
  display: block;
  width: 100%;
  height: 910px;
  position: absolute;
  z-index: 5000;
}


.nav__brand {
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
  font-weight: 400;  
  color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.5rem;
  z-index: 20000;

}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  z-index: 20000;
}

.nav__toggler {
  display: none;
  z-index: 20000;
}

.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(255, 253, 253);
  transition: 0.3s ease-in;
  z-index: 20000;
}


@media screen and (max-width: 768px) {

  .nav__toggler, .nav__menu{
    z-index: 10000;
  }
  .nav__toggler {
    display: block;
    cursor: pointer;
    
  }

  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(56 182 255);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}

/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-50deg) translate(-5px, 9px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(50deg) translate(-5px, -9px);
}